<!DOCTYPE html>
<html lang="en" data-theme="dark">
	<head>
		<meta charset="utf-8">

		<title>{{ post_title }}</title>
		
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content=" {{ post_subtitle }}">
			
		<meta itemprop="name" content="{{ post_title }}">
		<meta itemprop="description" content="{{ post_subtitle }}">
		<meta itemprop="dateModified" content="{{ date }}" />
		<meta property="og:title" content="{{ post_title }}" />
		<meta property="og:description" content="{{ post_subtitle }}" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{{ url }}" />
		<meta property="article:modified_time" content="{{ date }}" />

		<meta property="twitter:title" content="{{ post_title }}" />
		<meta property="twitter:text:title" content="{{ post_title }}" />
		<meta property="twitter:description" content="{{ post_subtitle }}" />

		<link rel="shortcut icon" href="{{ favicon }}" />
		<link rel="stylesheet" type="text/css" media="screen" href="{{css}}" />
		<link rel="alternate" type="application/atom+xml" title="Recent blog posts" href="/rss.xml">
	</head>

	<body>
		<div class="main">
			<div class="container wrapper">
				<div class="header">
					<div class="avatar">
						<a href="{{ url }}">
							<img src="{{ avatar }}" alt="{{ title }}" />
						</a>
					</div>
					<nav class="nav">
						<ul class="flat">
							<li><a href="/"><h1 class="site-title">{{ title }}</h1></a></li>
							{% for item in navigation %}
							<li><a href="{{ item.url }}"><b>{% filter upper %} {{ item.name }} {% endfilter %}</b></a></li>
							{% endfor %}
							{% if js |length %}
							<li>
								<div class="toggle-container">
            						<input type="checkbox" id="switch" class="dark-mode-checkbox" name="theme" /><label for="switch">Toggle</label>
								</div>
							</li>
							{% endif %}
						</ul>
					</nav>
				</div>
				<div class="post">
					<h1 class="post-title align-center">{{ post_title }}</h1>		
					<div class="markdown description">
						{{ article }}
					</div>
				</div>
				<div class="footer wrapper">
					<nav class="nav">
						<div> 
							{% for item in footer %}
							<li><a href="{{ item.url }}">{{ item.name }}</a> </li>
							{% endfor %}
							Licensed under <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</body>	
	{% if js |length %}
		<script src="{{ js }}"></script>
	{% endif %}
</html>
