/* @import url(//fonts.googleapis.com/css?family=Coda); */

@font-face {
  font-family: 'Coda';
  font-style: normal;
  font-weight: 400;
  src: local('Coda'), local('Coda'), url(https://fonts.gstatic.com/s/coda/v16/SLXHc1jY5nQ8FUUGa7SOz9M.woff2) format('woff2');
  font-display: swap;
}

:root {
    --bg-color: #FFFFFF;
    --text-color: #000000;
    --dcyan: #42938C;
}

html[data-theme='dark'] {
    --bg-color : #000000;
    --text-color: #FFFFFF;
    --dcyan: #42938C;
}

*, *:after, *:before {
  
    box-sizing: border-box;
}
   
* {
    margin: 0;
    padding: 0;
  
}
   
html, body {
    height: 100%;
}
  
.main {
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
body {
    font-family: "Coda", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    font-size: 17px;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
a {
    color: var(--dcyan);
    text-decoration: none;
    word-break: break-word;
}
.revert{
    color: var(--text-color);
}
.revert:hover{
    color: var(--dcyan);
}
a:hover {
    color: var(--bg-color);
    background-color: var(--dcyan);
}

html,button,input,select,textarea {
    color: var(--dcyan);
}

::-moz-selection {
    background: var(--bg-color);
    text-shadow: none;
    color: var(--text-color);
}

::selection {
    background: var(--bg-color);
    text-shadow: none;
    color: var(--text-color);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
    padding: 0;
}

img {
    margin: 10px auto 10px auto;
    max-width: 100%;
    display: block;
}

a img {
    border:none;
}

span {
    font-size: 17px;
    font-weight: 500;
}

figure {
    margin: 0;
    text-align: center;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

table {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  background-color: transparent;
  margin-bottom: 1rem;
  overflow-x: auto;
  width: 100%;
}

table th,
table td {
  border-bottom: 1px solid #dee2e6;
  padding: 0.75rem;
  vertical-align: top;
}

table thead th {
  border-bottom: 2px solid #dee2e6;
  vertical-align: bottom;
}

table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

table tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.15);
}

table th {
  background-color: #212529;
  border-color: #32383e;
  color: #fff;
}

textarea {
    resize: vertical;
}

blockquote {
    margin-left: 1rem;
    margin-top: 5px;
    font-style: italic;
    font-family: Georgia,bitstream charter,serif;
    border-left: 3px solid;
    border-color: var(--dcyan);
    padding-left: 20px;
}

blockquote cite {
    font-size: 70%;
    opacity: .8;
}

blockquote em {
    font-weight: 600;
}


h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);;
    font-weight: 900;
    font-size: 17px;
    line-height: 1.3em;
    margin: 30px 0 20px 0;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

ul {
    padding-left: 15px;
}

ul.flat {
    margin: 0;
    padding: 0;
}

ul.flat li {
    display: block;
    list-style: none;
    margin-left: 0;
}

.prevent-collapse {
    min-height: .1rem
}

.smaller {
    font-size: 70%;
}

ul {
    list-style: disc inside;
}

.post ul li {
    margin-bottom: 10px;
}

.post ul li p {
    display: inline;
}

.highlight pre {
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px;
    background-color: transparent !important;
}

.highlight {
    background: 0 0;
    background-color: #FAFAFA;
}

.wrapper {
    max-width: 760px;
    margin: 0 auto;
}

.container {
    max-width: 800px;
    margin-top: 50px;
}

.header {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.header .avatar {
    float: left;
    margin: -25px 20px 0 0;
}
.header .avatar img {
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 100%;
}
.header .site-title {
    margin: 0 10px 10px 0;
    line-height: 1.2em;
    font-size : 24px;
    text-transform: lowercase;
    font-weight: 500;
}

.header nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    min-width: 50px;
    margin-left: 5px;
    display: inline-block;
}

.header nav ul,
.header nav li {
    margin: 0;
    padding: 0;
}

.header nav li {
    display: inline-block;
    list-style: none;
    margin: 0 30px 0 0;
}

.intro p {
    text-align: justify;
}
.description {
    text-align: justify;
}

.smi {
	max-height: 15px;
}

.section .section-header {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.recent-posts .posts .post {
    margin-bottom: 45px;
}

.post-header {
    display: flex;
}
.post-header .meta .date {
    margin-right: 30px;
    width: 64px;
    text-align: center;
}
.post-header .meta .date .day {
    font-family: "Coda", serif;
    font-weight: 700;
    line-height: 0.45em;
    font-size: 3em;
    display: block;
    margin-bottom: 20px;
}
.post-header .meta .date .rest {
    display: block;
    font-size: 0.75em;
}
.post-header h1.title {
    margin: -10px 0 0 0;
}

.post .title.small {
    margin: 0 0 10px 0;
}
.post .post-header {
    margin-bottom: 30px;
}

.post .draft-label {
    color: #333333;
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 6px;
    background-color: #f9f2f4;
}

.post .tags a {
    display: inline-block;
    border: 1px solid #333333;
    border-radius: 3px;
    padding: 0px 6px;
    color: #333333;
    line-height: 20px;
    font-size: 0.85em;
    text-decoration: none;
    margin: 0 10px 0 0;
}

.list .posts .post-header .meta {
    margin-bottom: 0;
    margin-left: 5px;
}

.footer {
	font-size: 0.85em;
    color: var(--text-color);
    text-align: center;
    margin-top: 40px;
    
}

.tag-cloud {
    margin-top: 20px;
}

.tag-cloud a {
    margin-right: 15px;
}

.pagination {
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.pagination li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pagination .page-prev {
    margin-right: 20px;
    padding-right: 20px;
}

.pagination .page-item.page-prev {
    text-align: left;
}

.pagination .page-item.page-next {
    text-align: right;
}

.grid {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.cell.\-6of12 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding: 10px;
  }

@media (max-width: 900px) {
    html, body {
        height: auto;
      }
    .container {
        margin-top: 10px;
    }
    .header .nav.social li {
        margin: 0;
    }
    .header .nav li {
        margin: 0 10px 0 0;
        font-size: 14px;
    }

    table {
      -ms-overflow-style: -ms-autohiding-scrollbar;
      -webkit-overflow-scrolling: touch;
      display: block;
      overflow-x: auto;
      width: 100%;
    }
}

@media (max-width: 720px) {
    .header {
        text-align: center;
    }
    
    .header nav {
        justify-content: space-between;
        margin: 0;
        padding: 0;
        min-width: 50px;
        margin-left: 15px;
        display: inline-block;
    }
    .header .site-title {
        margin: 0 10px 10px 0;
        line-height: 0.2em;
        display: inline-block;
    }
    .header .avatar img {
        display: none;
    }
    ul {
        padding: 0;
    }
    .grid {
    	-ms-flex-direction: column;
    	flex-direction: column;
    }
    .cell {
    	-ms-flex: 0 0 auto;
    	flex: 0 0 auto;
    }
}



input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 24px;
	height: 12px;
	background: var(--text-color);
	float: right;
	border-radius: 40px;
	position: relative;
	top :8px;
}

label:after {
	content: '';
	position: absolute;
	top: 1.5px;
	left: 3px;
	width: 8px;
	height: 8px;
	background: var(--dcyan);
	border-radius: 45px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--text-color);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 45px;
}
